body {
    background-color:black;
    color:seashell;
    opacity:0.9;
    font-family: Helvetica;
    font-size:22px;
   
}

.logo {
    height:50px;
    margin-left:10px;
    width:auto;
}
nav {
    display:inline-block;
    justify-content: flex-end;
    padding-right:40px;
    flex-grow:1;
    text-align: right; 
}

.header nav span a {
    text-decoration: underline;
    color:seashell;
}

nav span {

    display: inline-block;
    padding: 20px 10px;
}

header {
    width:100%;
    height:69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color:black;
    z-index:2;
}

.header {
    display: flex;
    align-items: center;
    background-color:black;
}

.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}

.background_image {
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
    height: 700px;
    padding-top:70px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main_info {
    background-color:black;
    margin:auto;
    width:100%;
}

.store {
    width:1000px;
    height: 700px;
    margin: auto;
    padding-top: 70px;
}

.item {
    padding:5px;
}

.image_grid img {
    height:200px;
    width:300px;
    padding:20px;
}

h2, h4 {
    padding:10px;
    margin:0;
    text-align: center;
}

.store_header {
    text-align: center;
}

.locations {
    background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
    height:500px;
    margin-top: 70px;
}

.center {   
    margin: auto;
    width: 1100px;
}
.locations center h2 {
    padding-bottom:15px;
}

.box {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    height:200px;
    text-align: center;
}

.copy {
    margin-left:20px;
}

.locations h2 {
    text-align: center;
}